<div class="top-movie-characters">
   <div>
      <h1>Top Characters</h1>
      <h1 style="margin-left: 350px;"><a href="#">see more</a></h1>
   </div>
   <div class="char-info">
      <div>
         1
      </div>
      <div class="top-char-pic">
         <img src="https://cdn.myanimelist.net/images/characters/15/88195.jpg">
      </div>
      <div class="top-char-info">
         3
      </div>
   </div>
   <div class="char-info">
      <div>
         1
      </div>
      <div class="top-char-pic">
         <img src="https://cdn.myanimelist.net/images/characters/15/88195.jpg">
      </div>
      <div class="top-char-info">
         3
      </div>
   </div>
   <div class="char-info">
      <div>
         1
      </div>
      <div class="top-char-pic">
         <img src="https://cdn.myanimelist.net/images/characters/15/88195.jpg">
      </div>
      <div class="top-char-info">
         3
      </div>
   </div>
</div>