<div class="view-item-synopsis">
    <div>
        stats
    </div>
    <div class="view-item-synop">
        <h1 style="margin-left:1%;">Synopsis</h1>
        <div style="margin-left: 1%; margin-right: 1%;">
        <p style="color: black; text-align: justify; text-indent: 5%; letter-spacing: 2px;">
            {{itemDetails[8]}}
        </p>
        </div>
    </div>
    <div class="view-item-background">
        <h1 style="margin-left:1%;">Background</h1>
        <p style="color: black; text-align: justify; text-indent: 2%; letter-spacing: 2px;">{{itemDetails[9]}}</p>
    </div>
    <div class="view-item-char">
        characters
    </div>
    
    <div class="view-item-review">
        <div class="user-review">
            <h1 style="margin-left:1%;">User Review</h1>
            <h1 style="display: inline; margin-left: 79%;"><a href="/view_all_review">see more</a></h1>
        </div>
        {%for user_review in revDetails%}
        <div class="review">
            <h1 style="margin-left:1%;">{{user_review[2]}}</h1>
            <p style="color: black; margin-left: 1%;">{{user_review[3]}}</p>
            <div class="review-container">
                <p style="color: black;">{{user_review[4]}}</p>
            </div>
        </div>
        {%endfor%}
    </div>

    <div class="view-item-rec">
        <div class="user-rec">
            <h1 style="margin-left:1%;">User Recommendation</h1>
            <h1 style="display: inline; margin-left: 70%;"><a href="#">see more</a></h1>
        </div>
        <div class="rec-content">
            1
        </div>
        <div class="rec-content">
            2
        </div>
        <div class="rec-content">
            3
        </div>
        <div class="rec-content">
            4
        </div>
        <div class="rec-content">
            5
        </div>
        <div class="rec-content">
            1
        </div>
        <div class="rec-content">
            1
        </div>
        <div class="rec-content">
            1
        </div>
        <div class="rec-content">
            1
        </div>
    </div>